<div class="container animated fadeIn retraso-1s">
        <div class="primerTexto">
          <h3 class="titulo_texto">¿Qué es?</h3>
          <img src="./assets/workTeam.jpg" class="img_team animated bounceInLeft" alt="equipo de trabajo">
          <div class="texto">
            <p>Dep-sis es tu departamento de sistemas, pero mejor. Estamos aquí para para ayudarte a que estés en Internet las 24 horas del día, los 7 días a la semana y los 365 días al año. Estaremos generando ingresos por Internet como lo haría cualquier departamento de sistemas, pero con Dep-sis te ahorras muchas facturas, adiós alquiler, adiós facturas de agua, electricidad, gas y telecomunicaciones. Con Dep-sis dejas de tratar con todo el personal, fuera los dolores de cabeza por tantas persona, con Dep-sis solo tratas con una persona el líder del proyecto, el se encargará de todo.</p>
          </div>
          <p class="concepto"><strong>"Somos tú departamento de sistemas, hecho a tu medida y para tus necesidades, entonces... ¿Qué necesitas?"</strong></p>
        </div>

        <div class="quienes_somos">
          <h3 class="titulo_texto">¿Quienes somos?</h3>
          <img src="./assets/quiene_somos.jpg" class="nosotros_team animated bounceInRight" alt="Nuestro equipo trabjando">
          <p>Somos los empleados de tu departamento de sistemas, pero mejor. Trabajamos y operamos de forma organizada y disciplinada para que tu empresa o negocio tenga los mayores beneficios con nuestro arduo trabajo.</p>
          <p><strong>“Tranquilo, estamos aquí. Somo expertos en solucionar problemas, entonces… ¿Qué necesitas?”</strong></p>
        
          <h3>¿Cómo funciona? </h3>
          <ul>
            <li> Realiza tu cotización allí podrás escoger según tus necesidades los servicios y la cantidad de empleados.</li>
            <li>Nuestro empleado lider de proyecto y tu concretarán el monto a pagar y los tipos de contrato, cuando este proceso esté listo solo debe realizar el pago (dependiendo del caso) y comienza el trabajo.</li>
            <li>Tu mano derecha es nuestro líder del proyecto, el va a mantenerte informado de todo lo que pase con tu Dep-sis. Si necesitas algo solo comunicate con el líder del proyecto.</li>
          </ul>
        </div>

        <div class="servicios">
          <h4>Servicios</h4>
          <p>Contamos con servicios de:</p>
          <ul>
            <li><strong> Desarrollo de páginas web.</strong></li>
            <li><strong> Administración de páginas web.</strong></li>
            <li><strong> Admnistración de redes sociales (Community manager).</strong></li>
            <li><strong> Creación y desarrollo de estrategias digitales (Social media manger).</strong></li>
          </ul>
        </div>

        <div class="pagos">
          <h4>Métodos de pago</h4>
          <p>Tenemos múltiples métodos de pago, puedes utilizar el que tu quieras o el que mejor se acomode a tus necesidades y posibilidades.</p>
          <div class="imgs">
            <img src="./assets/imgs/paypal.png">
            <img src="./assets/imgs/payu.png">
            <img src="./assets/imgs/bbva.jpg">
            <img src="./assets/imgs/efecty.png">
            <img src="./assets/imgs/gana.jpg">
          </div>
        </div>

        <div class="infoImportante">
          <h5>Información Importante</h5>
          <p>Los paquetes Dep-sis (Full, Standar, personalizado) son de pago mensual.</p>
          <p>Dependiendo del precio de la cotización y los servicios solicitados puedes optar por los pagos en cuotas (se comienza el trabajo con el 50% de la cotización paga).</p>
        </div>


      </div>
