<div class="container">
		<div class="cotizar">
			<h5>Antes de cotizar tenga en cuenta</h5>
			<h6>Describir detalladamente el proyecto</h6>
			<p>Para nosotros es muy importante conocer a profundidad los proyectos de nuestros clientes por lo que te pedimos  describir detalladamente el proyecto, que quieres lograr con él, que es lo que necesitas y en cuanto tiempo lo necesitas; de igual manera te solicitamos que seas claro y directo con tus objetivos y metas, de esta manera podremos darte la mejor propuesta para satisfacer tus necesidades.</p>
			<h6>Presupuesto ideal del proyecto</h6>
			<p>El presupuesto ideal es el monto de dinero ideal para cubrir el proyecto, un precio que consideres justo para satisfacer las necesidades las necesidades que tienes.</p>
			<h6>Presupuesto para el proyecto</h6>
			<p>Es el monto de dinero total que se posee para el desarrollo del proyecto, sin embargo este monto no es el total que se va a pagar por el proyecto, puede que sea más o que sea menos, todo depende de la complejidad y tamaño del proyecto.</p>
			<form action="https://formspree.io/depsissell@gmail.com" method="POST" class="formulario">
				<div class="form-group row">
				  <label for="example-text-input" class="col-2 col-form-label" >Nombre</label>
				  <div class="col-10">
				    <input class="form-control" type="text" placeholder=" Elmer Curio " name="nombre" required="required">
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-email-input" class="col-2 col-form-label">Email</label>
				  <div class="col-10">
				    <input class="form-control" type="email" placeholder="andi.li.pues@escribeTuCorreo.com" name="correo" required="required">
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-tel-input" class="col-2 col-form-label">Telefono</label>
				  <div class="col-10">
				    <input class="form-control" type="tel" placeholder="300-000-5115" name="phone">
				  </div>
				</div>
				<div class="form-group row">
				   <label for="exampleTextarea" class="col-2">Descripción del proyecto</label>
				   <div class="col-10">
				   	<textarea class="form-control" name="proyect_description" rows="3" required="required"></textarea>
				   </div>
				 </div>
				<div class="form-group row">
				  <label for="example-number-input" class="col-2 col-form-label">Presupuesto ideal</label>
				  <div class="col-10">
				    <input class="form-control" type="number" placeholder="600.000 (en pesos Colombianos)" name="idealpre">
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-number-input" class="col-2 col-form-label">Presupuesto del proyecto</label>
				  <div class="col-10">
				    <input class="form-control" type="number" placeholder="900.000 (en pesos Colombianos)" name="propre" required="required">
				  </div>
				</div>
				<div class="botones row">
					<div class="paquetes col-4">
						<strong>Paquetes</strong>
						<div class="oc">
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="radio" name="paqueteFull" value="full" checked>
							    Paquete Dep-sis Full
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="radio" name="paqueteStandar" value="standar">
							    Paquete Dep-sis Standar
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label">
							    <input class="form-check-input" type="radio" name="paquetePersonal" value="personalisada">
							    Paquete Dep-sis Personalizado
							  </label>
							</div>
						</div>
					</div>
					<div class="serviciosbtn col-8">
						<strong>Servicios</strong>
						<div class="row">
							<div class="col-6">
								<div class="form-check">
								  <label class="form-check-label">
								    <input class="form-check-input" type="checkbox" value="" name="webSimple">
								    Página web sencilla
								  </label>
								</div>
								<div class="form-check">
								  <label class="form-check-label">
								    <input class="form-check-input" type="checkbox" value="" name="webpro">
								    Página web profesional
								  </label>
								</div>
								<div class="form-check">
								  <label class="form-check-label">
								    <input class="form-check-input" type="checkbox" value="" name="webpers">
								    Tienda online
								  </label>
								</div>
							</div>
							<div class="col-6">
								<div class="form-check">
								  <label class="form-check-label">
								    <input class="form-check-input" type="checkbox" value="" name="Cm">
								    Community manager
								  </label>
								</div>
								<div class="form-check">
								  <label class="form-check-label">
								    <input class="form-check-input" type="checkbox" value="" name="Smm">
								    Social media manager
								  </label>
								</div>
								<div class="form-check">
								  <label class="form-check-label">
								    <input class="form-check-input" type="checkbox" value="" name="Dam">
								    Desarrollo web a la medida
								  </label>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="form-check">
				  <label class="form-check-label">
				    <input class="form-check-input" type="checkbox" value="" required="required" name=acepto>
				    Acepto los terminos y condiciones (puedes ver el documento completo <a href="./assets/Terminos y condiciones.pdf">aquí</a>)
				  </label>
				</div>
				  <button type="submit" class="btn btn-outline-success">Submit</button>
			</form>
		</div>
	</div>
