<div class="container">
		<div class="cotizar">
			<h5>Antes de cotizar tenga en cuenta</h5>
			<h6>Describir detalladamente el proyecto</h6>
			<p>Explicación... Lorem ipsum dolor sit amet, consectetur adipisicing el.</p>
			<h6>Presupuesto ideal del proyecto</h6>
			<p>Explicación... Lorem ipsum dolor sit amet, consectetur adipisicing el.</p>
			<h6>Presupuesto para el proyecto</h6>
			<p>Explicación... Lorem ipsum dolor sit amet, consectetur adipisicing el.</p>
			<form>
				<input type="text" name="nombre">
				<input type="email" name="email">
				<input type="number" name="tel">
				<textarea>Descripción del proyecto</textarea>
				<input type="number" name="presuide">
				<input type="number" name="presupro">
			</form>
		</div>
	</div>
