<div class="container">
		<div class="titulo_paquete">
			<h3>{{servicio.nombre_paquete}}</h3>
		</div>
		<div class="ofrece">
			<h5>{{servicio.sub_titulo}}</h5>
			<ul>
				<li><strong> Creación del sitio web</strong></li>
					<p>Crearemos tu página web a la medida, en base a las necesidades, objetivos y metas de tu marca o empresa. Con esto nos aseguramos de que puedas diferenciarte de tu competencia y ganes más clientes.</p>
				<li><strong> Administración del sitio web</strong></li>
					<p>Administramos tu página web para que no tengas que preocuparte por nada, además te brindamos reportes mensuales sobre el desempeño de la misma, garantizando los mejores resultados y corrigiendo cualquier imprevisto que pueda suceder.</p>
				<li><strong> Administración de redes sociales (Comunity manager)</strong></li>
					<p>Administramos tus redes sociales enfocándonos en crear empatía, confianza y cercanía con tus clientes, garantizando una mejor relación con la maca, posicionando la empresa en las redes, y así obtener nuevos clientes y fidelizar a los antiguos.</p>
				<li><strong> Creación e implementación de estrategias digitales (Social Media Manager)</strong></li>
					<p>Crearemos estrategias acordes con los objetivos y valores de la empresa. Las llevamos a cabo y las coordinamos para que sean exitosas y así tu empresa obtenga los mejores resultados.</p>
			</ul>
			<p class="precio"> Inversión:  <strong>{{ servicio.precio }}</strong> COP (pesos colombanos).</p>
		</div>
		<div class="cotizacion">
		 <!-- Hacer una página aparte solo para este pedaso un formulario. -->
		 	<a routerLink="/cotiotroservi" class="btn btn-success mt">Realizar cotización</a>
		</div>
	</div>