<div class="container">
		<div class="titulo_paquete">
			<h3>{{servicio.nombre_paquete}}</h3>
		</div>
		<div class="ofrece">
			<h5>{{servicio.sub_titulo}}</h5>
			<ul>
				<li>Creación del sitio web</li>
					<p>explicación... Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<li>Administración del sitio web</li>
					<p>explicación... Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<li>Administración de redes sociales (Comunity manager)</li>
					<p>explicación... Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<li>Creación e implementación de estrategias digitales (Social Media Manager)</li>
					<p>explicación... Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			</ul>
			<p class="precio"> Valor:  <strong>{{ servicio.precio }}</strong> COP (pesos colombanos).</p>
		</div>
		<div class="cotizacion">
		 <!-- Hacer una página aparte solo para este pedaso un formulario. -->
		 	<a href="#" class="btn btn-success mt">Realizar cotización</a>
		</div>
	</div>