<div class="container masinfo">
	<!-- Descripción detallada del producto -->
		<h3>{{producto.nombre_producto}}</h3>
		<div class="Caracteristicas">
			<ul>
				<strong>{{producto.caracteristica1}}</strong>
					<p>{{producto.descripcion_carac1}}</p>
				<strong>{{producto.caracteristica2}}</strong>
					<p>{{producto.descripcion_carac2}}</p>
				<strong>{{producto.caracteristica3}}</strong>
					<p>{{producto.descripcion_carac3}}</p>
				<strong>{{producto.caracteristica4}}</strong>
					<p>{{producto.descripcion_carac4}}</p>
			</ul>
		</div>
	<!-- Valor y política de precios -->
		<div class="precios">
			<h5>Política de precios</h5>
			<p>Lo mas importante es:</p>
			<p>Puedes ver el documento completo <a href="#">aquí</a></p>
		</div>
	<!-- Términos y condiciones -->
		<div class="terminosYcondiciones">
			<h5>Términos y condiciones</h5>
			<p>Lo más importante es:</p>
			<p>Puedes ver el documento completo <a href="#">aquí</a></p>
		</div>
	<!-- Métodos de pago -->
		<div class="pagos">
			<h4>Escoge el mejor para ti:</h4>
			<p>poner los metodos de pago aquí</p>
		</div>
	<!-- Información importante -->
		<div class="infoImpor">
			<h5>Información importante</h5>
			<p>Lo más importante es:</p>
		</div>
	<!-- Realizar cotización -->

		<div class="cotizacion">
		 <!-- Hacer una página aparte solo para este pedaso un formulario. -->
		 	<a href="#" class="btn btn-success mt">Realizar cotización</a>
		</div>



	</div>