<div class="container masinfo">
	<!-- Descripción detallada del producto -->
		<h3>{{producto.nombre_producto}}</h3>
		<div class="Caracteristicas">
			<ul>
				<strong>{{producto.caracteristica1}}</strong>
					<p>{{producto.descripcion_carac1}}</p>
				<strong>{{producto.caracteristica2}}</strong>
					<p>{{producto.descripcion_carac2}}</p>
				<strong>{{producto.caracteristica3}}</strong>
					<p>{{producto.descripcion_carac3}}</p>
				<strong>{{producto.caracteristica4}}</strong>
					<p>{{producto.descripcion_carac4}}</p>
				<strong>{{producto.caracteristica5}}</strong>
					<p>{{producto.descripcion_carac5}}</p>
				<strong>{{producto.caracteristica6}}</strong>
					<p>{{producto.descripcion_carac6}}</p>
				<strong>{{producto.caracteristica7}}</strong>
					<p>{{producto.descripcion_carac7}}</p>
			</ul>
		</div>
	<!-- Términos y condiciones -->
		<div class="terminosYcondiciones">
			<h5>Términos y condiciones</h5>
			<p>Puedes ver el documento completo <a href="./assets/Terminos y condiciones.pdf">aquí</a></p>
		</div>
	<!-- Métodos de pago -->
		<div class="pagos">
			<h4>Escoge el mejor para ti:</h4>
			<p>Tenemos múltiples métodos de pago, puedes utilizar el que tu quieras o el que mejor se acomode a tus necesidades y posibilidades.</p>
			<div class="imgs">
            	<img src="./assets/imgs/paypal.png">
            	<img src="./assets/imgs/payu.png">
            	<img src="./assets/imgs/bbva.jpg">
            	<img src="./assets/imgs/efecty.png">
            	<img src="./assets/imgs/gana.jpg">
          	</div>
		</div>
	
	<!-- Realizar cotización -->

		<div class="cotizacion">
		 <!-- Hacer una página aparte solo para este pedaso un formulario. -->
		 	<a href="#" class="btn btn-success mt">Realizar cotización</a>
		</div>



	</div>