<div class="container">
		<div class="nombre_servicio">
			<h3>{{servicio.nombre_servicio}}</h3>
		</div>
		<div class="explicacion">
			<h5>La importancia del servicio</h5>
			<p>{{servicio.importancia}}</p>
		</div>
		<div class="contenido_servicio">
			<h5>¿Qué ganas con el servicio?</h5>
			<ul>
				<strong>{{servicio.incluye1}}</strong>
					<p>{{servicio.descripcioni}}</p>
				<strong>{{servicio.incluye2}}</strong>
					<p>{{servicio.descripcioni2}}</p>
				<strong>{{servicio.incluye3}}</strong>
					<p>{{servicio.descripcioni3}}</p>
				<strong>{{servicio.incluye4}}</strong>
					<p>{{servicio.descripcioni4}}</p>
				<strong>{{servicio.incluye5}}</strong>
					<p>{{servicio.descripcioni5}}</p>
			</ul>
		</div>
		<div class="tareas">
			<h5>Tareas designadas con este servicio</h5>
			<ul>
				<strong>{{servicio.tarea1}}</strong>
					<p>{{servicio.descripciont}}</p>
				<strong>{{servicio.tarea2}}</strong>
					<p>{{servicio.descripciont2}}</p>
				<strong>{{servicio.tarea3}}</strong>
					<p>{{servicio.descripciont3}}</p>
				<strong>{{servicio.tarea4}}</strong>
					<p>{{servicio.descripciont4}}</p>
				<strong>{{servicio.tarea5}}</strong>
					<p>{{servicio.descripciont5}}</p>
			</ul>
		</div>
		<div class="cotizacion">
		 <!-- Hacer una página aparte solo para este pedaso un formulario. -->
		 	<a href="#" class="btn btn-success mt">Realizar cotización</a>
		</div>
	</div>